{{ define "main" }}
<div class="about-page">
  <section class="about-hero">
    <h1>About<br />Me &<br />Farm</h1>
  </section>

  <section class="about-section me-section">
    <div class="about-image">
      <img src="/images/cactus.jpg" alt="my favourite plant" />
    </div>
    <div class="about-text">
      <h2 class="section-title">About Me</h2>
      <p>
        Hi! I am Sophie, a Plant Sciences student at UC Davis. I started my
        intership at the Student Farm in Fall 2025.
      </p>
      <p>
        Although I am in the Plant Breeding, Genetics and Genomics track, I
        believe hand on experience is more valuable than theoretical knowledge.
      </p>
      <p>
        I am defintely not an expert in fruit tree and coding, but I am excited
        to learn. If you have any suggestions on the content or the web design,
        please feel free to reach out to me!
      </p>
      <p>
        A little more about me is that I have a cat (his name is Archimedes).
        The photo is my favourite plant,
        <i>Tephrocactus alexanderi</i>. My favorite fruit tree to prune is fig
        and my least favorite so far is pomogranate (they are too shrubby and
        spiky).
      </p>
      <div class="about-links">
        <a
          href="https://github.com/Sophiebefore16/ucdstudentfarmpruning"
          class="icon-link"
        >
          <ion-icon name="logo-github"></ion-icon>
          <span class="link-label">GitHub</span>
        </a>

        <a href="mailto:socshu@ucdavis.edu" class="icon-link">
          <ion-icon name="mail-outline"></ion-icon>
          <span class="link-label">Email</span>
        </a>
      </div>
    </div>
  </section>

  <section class="about-section farm-section">
    <div class="about-text">
      <p>
        Studend Farm is a wonderful place to learn about sustainable food system
        from eductors and peers. Four unique programs are offered and you can
        join as a volunteer, intern or staff! For more information about the
        farm, programs, activities and opportunities, please visit the official
        website and follow our instagram!
      </p>
      <div class="about-links">
        <a href="https://www.instagram.com/UCDstudentfarm" class="icon-link"
          ><ion-icon name="logo-instagram"></ion-icon
          ><span class="link-label">Instagram</span></a
        >
        <a href="https://asi.ucdavis.edu/programs/sf" class="icon-link"
          ><ion-icon name="browsers-outline"></ion-icon
          ><span class="link-label">Official Site</span></a
        >
      </div>
    </div>
    <div class="farm-color-block">
      <h2>About<br />Student<br />Farm</h2>
    </div>
  </section>
</div>
{{ end }}
