<header class="navbar">
  <div class="nav-inner">
    <a href="{{ .Site.BaseURL }}" class="logo">
      <img src="{{ "images/logo.png" | absURL }}" alt="UC Davis Student Farm Logo">
    </a>

    <nav class="nav-links">
      <a href="{{ .Site.BaseURL }}" class="nav-item {{ if .IsHome }}active{{ end }}">Home</a>

      <a href="{{ "log/" | relURL }}" class="nav-item {{ if eq .Section "log" }}active{{ end }}">Log</a>

      <a href="{{ "about/" | relURL }}" class="nav-item {{ if eq .Section "about" }}active{{ end }}">About</a>
    </nav>
  </div>
</header>
