{{ define "main" }}

<!-- Hero -->
<section class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-text">
    <h1>Field Learning</h1>
    <h1>Project-</h1>
    <h1>Pruning</h1>
  </div>
</section>

<main class="home-content">
  <section class="split-section">
    <div class="block">WELCOME !</div>
    <div class="text">
      <p>
        This is a website for documenting my Field Learning project on UC Davis
        Student Farm.
      </p>
      <p>
        This website aims to record and share my personal learning experience,
        and hope it may inspire others to explore pruning and fruit tree
        management.
      </p>
    </div>
  </section>

  <section class="split-section reverse">
    <div class="text">
      <ul class="topic-list">
        <li>Plant Physiology</li>
        <li>Pruning Techniques across different trees</li>
        <li>Tool use and safety</li>
        <li>Student Farm information</li>
        <p>...and more!</p>
      </ul>
    </div>
    <div class="block">TOPICS</div>
  </section>
</main>

{{ end }}
